<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huxin.xinpiao">

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    //友盟统计
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    //友盟分享
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 获取用户信息 -->
    <!-- 读通话记录权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.EACCES"/>
    <!-- faceid -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 其他 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>


    <!--备份标识配置风险 allowBackup当这个标志被设置为true或不设置该标志时应用程序数据可以备份和恢复，adb调试备份允 许恶意攻击者复制应用程序数据-->
    <application
        android:name=".application.HXApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 开发时候入口 -->
        <activity android:name=".test.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <meta-data
            android:name="UMENG_APPKEY"
            android:value="585bfa8707fe652d6e0011b6"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2fe4fb5863e649ad1c430d81de3a1a01"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="54d94ef1f331b179283d9b0557e6d963"/>






        <!--7.0向外部提供私有文件-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huxin.xinpiao.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>